{% extends 'base.html' %}
{% block content %}
    <h2>{{ object.name }}</h2>
    <div>
        <h3>Messages</h3>
        <ul>
        {% for message in object.messages.all %}
            <li><strong>{{ message.sender }}</strong>: {{ message.content }}</li>
        {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Send a Message</h3>
        <form method="post" action="{% url 'send_message' object.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
        </form>
    </div>
    <a href="{% url 'chat_list' %}">Back to chats</a>
{% endblock %}