{% extends 'base.html' %}

{% block title %}
	My notifications
{% endblock title %}

{% block content %}

<div class="container">
    {% if notifications %}
        {% for notification in notifications %}
            {% if notification.unread %}
                <div class="card border-dark  mb-3 my-4">
                    <div class="card-body">
                        <a class="card-link text-info" href="{% url 'notification_detail' notification.id %}">
                            <h5 class="card-title text-uppercase font-weight-bold">
                                {{notification.notification_type}} <span class="badge badge-secondary">New</span>
                            </h5>
                            <p class="card-text"><small class="text-muted">Last updated: {{ notification.created_at }}</small></p>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% for notification in notifications %}
            {% if not notification.unread %}
                <div class="card mb-3 my-4">
                    <div class="card-body">
                        <a class="card-link text-info" href="{% url 'notification_detail' notification.id %}">
                            <h5 class="card-title text-uppercase">
                                {{notification.notification_type}}
                            </h5>
                            <p class="card-text"><small class="text-muted">Last updated: {{ notification.created_at }}</small></p>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div class="col my-4">
        <div class="col-sm-12 align-self-center">
            <div class="row justify-content-center">
                <div class="badge badge-danger text-wrap" >
                    <h1 class="text-uppercase font-weight-bold align-center">0 notification for you</h1>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="fixed-bottom d-flex p-3 justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock content%}
