{% extends 'base.html' %}


{% block title %}
	{{ notification.notification_type }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="p-3 my-3 mb-2 bg-white text-dark rounded border border-dark">
        <div class="row m-4">
            <h1 class="text-uppercase font-weight-bold">{{notification.notification_type}}</h1>
        </div>
        <div class="row m-4">
            <div class="col-sm-6">
                <p class="text-start"> {{notification.created_at}}</p>
            </div>
        </div>
        <div class="row m-4">
            <div class="col-md-10 mx-auto">
                <p class="font-italic">{{notification.message|safe  }}</p>
            </div>
        </div>
        <div class="row">
            <hr class="my-2">
        </div>
        <div class="row m-2">
            {% if notification %}
            <div class="col-md-12 d-flex justify-content-end">
                <a class="btn btn-info btn-lg" href="{% url 'detail' notification.report.id %}" role="button">Check it out!</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class=" fixed-bottom p-3">
    <div class="row">
        <div class="col-sm-1">
            <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>

{% endblock %}
