{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container">
  <div class="p-3 my-3 mb-2 bg-white text-dark rounded border border-dark">
    <div class="row m-4">
      <h1 class="text-uppercase font-weight-bold">My profile</h1>
    </div>
    <div class="row m-4">
      <div class="col-md-10 mx-auto">
        <p class="font-italic">{{object|safe  }}</p>
      </div>
    </div>
    <div class="row">
      <hr class="my-2">
    </div>
    <div class="row m-2">
      <div class="col-md-12 d-flex justify-content-end">
        <a class="btn btn-secondary btn-lg" href="{% url 'change_password' %}" role="button">Change password</a>
      </div>
    </div>
  </div>
</div>



{% endblock %}


