{% extends 'base.html' %}

{% block title %}Create flat{% endblock %}

{% block content %}
{% block headjavascript %}{{ form.media.js }}{% endblock %}
{% load widget_tweaks %}

<div class="container p-3">
        <h1 class="text-center">
            <p class="text-uppercase font-weight-bold font-italic">Add flat to rent</p>
        </h1>
        <form action="{% url 'create' %}" method="post">
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group m-2">
                        <label for="inputTitle" class="col-sm-6 col-form-label">Title</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="inputTitle" placeholder="Title" name="title" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group m-2">
                        <label for="inputPrice" class="col-sm-6 col-form-label">Price</label>
                        <div class="col-sm-12">
                            <input type="number" class="form-control" id="inputPrice" name="price" required>
                        </div>
                    </div>
                </div>
            </div>
                <div class="form-group m-4">
                    {{ detail_items.media.js }}
                    <legend>DETAILS</legend>
                    <hr class="my-4">
                    {{ detail_items.management_form }}
                    {{ detail_items.non_form_errors }}
                    {% for form in detail_items %}
                    <div class="form-group row items-group">
                        <div class="col">
                            {{ form.area.label_tag }}
                            {{ form.area}}
                        </div>
                        <div class="col">
                            {{ form.rooms.label_tag }}
                            {{ form.rooms}}
                        </div>
                        <div class="col">
                            {{ form.development_type.label_tag }}
                            {{ form.development_type}}
                        </div>
                        <div class="col">
                            {{ form.floor.label_tag }}
                            {{ form.floor}}
                        </div>
                        <div class="col">
                            {{ form.heating.label_tag }}
                            {{ form.heating}}
                        </div>
                        <div class="col">
                            {{ form.year.label_tag }}
                            {{ form.year}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            <div class="form-group m-4">
                <label for="textarea">Text</label>
                <textarea class="form-control" id="textarea" rows="8" name="text" placeholder="Describe your flat" required></textarea>
            </div>
            <div class="form-group m-4">
                <label for="inputEquipment" class="col-form-title">Equipment</label>
                <hr class="my-4">
               <div class="form-check" id="inputEquipment">
                    <div class="form-row m-2">
                        {% for value,text in form.equipment.field.choices  %}
                        <div class="col-sm-3">
                            <input class="form-check-input"  type="checkbox" name="{{ value }}" > {{ text }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group m-4">
                {{ location_items.media.js }}
                <legend>LOCATION</legend>
                <hr class="my-4">
                {{ location_items.management_form }}
                {{ location_items.non_form_errors }}
                {% for form in location_items %}
                <div class="form-group row items-group">
                    <div class="col">
                        {{ form.city.label_tag }}
                        {{ form.city}}
                    </div>
                    <div class="col">
                        {{ form.district.label_tag }}
                        {{ form.district}}
                    </div>
                    <div class="col">
                        {{ form.street.label_tag }}
                        {{ form.street}}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="form-group m-4">
                <legend>IMAGES</legend>
                <hr class="my-4">
                {{ image_items.management_form }}
                {{ image_items.non_form_errors }}
                <div class="form-group row items-group">
                    {% for form in image_items %}
                        <div class="col-sm-3 ">
                            {{ form.image.errors }}
                            {{ form.image}}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row m-2">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-success">Add flat</button>
                </div>
            </div>
            {% csrf_token %}
        </form>
</div>

<div class="container-fluid p-3">
    <div class="form-group">
        <div class="col-sm-2">
            <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>

{% endblock %}