{% extends 'base.html' %}

{% block title %}
Reports
{% endblock title %}

{% block content %}


<div class="container-fluid">
        <div class="col my-4">
            <div class="p-3 my-4 mb-2 bg-white text-dark rounded border border-dark">
                <h1 class="text-center">
                    <p class="text-uppercase font-weight-bold font-italic">Search flat</p>
                </h1>
                <hr class="my-4">
                <form method="get">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group my-2 mr-sm-2">
                                <label class="my-2" for="inputLocation">Location</label>
                                <select id="inputLocation" class="form-control" name="location">
                                    {% for value,text in filter.form.location__city.field.choices  %}
                                    <option value="{{ value }}">{{ text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group my-2 mr-sm-2">
                                <label class="my-2" for="inputDevelopment">Development type</label>
                                <select id="inputDevelopment" class="form-control" name="development_type">
                                    {% for value,text in filter.form.development_type.field.choices  %}
                                    <option value="{{ value }}">{{ text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group-row my-2 mr-sm-2">
                                <label class="my-2" for="inputRooms">Rooms</label>
                                <div class="form-check" id="inputRooms">
                                    <div class="form-row m-2">
                                        {% for value,text in filter.form.rooms.field.choices  %}
                                        <div class="col-sm-2">
                                            <input class="form-check-input"  type="checkbox" name="{{ value }}" > {{ value }}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="col-sm-4">
                            <div class="form-group my-2 mr-sm-2">
                                <label class="my-2" for="inputPrice">Price</label>
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <input type="number"  id="inputPrice" class="form-control my-2" name="price_min" placeholder="Price min">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="number" id="inputPrice2" class="form-control my-2" name="price_max" placeholder="Price max">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group my-2 mr-sm-2">
                                <label class="my-2" for="inputArea">Area</label>
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <input type="number" id="inputArea" class="form-control my-2" name="area_min" placeholder="Area min">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="number" id="inputArea2" class="form-control my-2" name="area_max" placeholder="Area max">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group my-2 mr-sm-2">
                                <label class="my-2" for="inputYear">Year</label>
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <input type="number" id="inputYear" class="form-control my-2" name="year_min" placeholder="Year min">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="number" id="inputYear2" class="form-control my-2" name="year_max" placeholder="Year max">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group my-2 mr-sm-2">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-dark">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if flats %}
        <div class="col my-4">
            <div class="row">
                {% for flat in flats %}
                <div class="col-sm-6">
                    <div class="card my-4 bg-dark text-white">
                        <h5 class="card-header">{{flat.title}}</h5>
                        <div class="card-body">
                            <p class="card-text">Price: {{flat.price}}</p>
                            <p class="card-text">Area: {{flat.area}}</p>
                            <p class="card-text">Year: {{flat.year}}</p>
                        <a href="{% url 'detail' flat.id %}" class="btn btn-primary">Check flat</a>
                        </div>
                        <div class="card-footer text-muted">
                            <p class="card-text">{{flat.created_at}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="col my-4 align-self-center">
            <div class="row justify-content-center">
                <div class="text-wrap" >
                    <h1 class="text-uppercase font-weight-bold align-center">0 result found</h1>
                </div>
            </div>
        </div>
        {% endif %}
</div>

{% if flats %}
<div class="d-flex p-3 justify-content-center">
    <nav aria-label="...">
        {% with request.get_full_path as querystring %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            {% if 'price' in querystring %}
            {% if 'page' in querystring %}
            <li class="page-item">
                <a class="page-link" href="{{ querystring|slice:":-7" }}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ querystring }}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}
            {% elif 'search' in querystring %}
            {% if 'page' in querystring %}
            <li class="page-item">
                <a class="page-link" href="{{ querystring|slice:":-7" }}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ querystring }}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}
            {% else %}
            <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
            {% if 'price' in querystring %}
            {% if 'page' in querystring %}
            <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                <a class="page-link" href="{{ querystring|slice:":-7" }}&page={{ page }}">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                <a class="page-link" href="{{ querystring }}&page={{ page }}">{{ page }}</a>
            </li>
            {% endif %}
            {% elif 'search' in querystring %}
            {% if 'page' in querystring %}
            <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                <a class="page-link" href="{{ querystring|slice:":-7" }}&page={{ page }}">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                <a class="page-link" href="{{ querystring }}&page={{ page }}">{{ page }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            {% if 'price' in querystring %}
            {% if 'page' in querystring %}
            <li class="page-item">
                <a class="page-link" href="{{ querystring|slice:":-7" }}&page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ querystring }}&page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}
            {% elif 'search' in querystring %}
            {% if 'page' in querystring %}
            <li class="page-item">
                <a class="page-link" href="{{ querystring|slice:":-7" }}&page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ querystring }}&page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}
            {% else %}
            <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
        {% endwith %}
    </nav>
</div>
{% endif %}


{% endblock content %}