{% extends 'base.html' %}

{% block title %}Create flat{% endblock %}

{% block content %}
{% block headjavascript %}{{ form.media.js }}{% endblock %}
{% load widget_tweaks %}

<div class="container p-3">
        <h1 class="text-center">
            <p class="text-uppercase font-weight-bold font-italic">Update flat</p>
        </h1>
        <form method="post">
            <div class="row">
                <div class="col-sm-9">
                    <h3 class="text-start m-4">
                        <p class="font-weight-bold font-italic">{{flat.location.district}},  {{flat.location}}</p>
                    </h3>
                </div>
                <div class="col-sm-9">
                    <div class="form-group m-2">
                        <label for="inputTitle" class="col-sm-6 col-form-label">Title</label>
                        {{form.title}}
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="inputTitle" value="{{flat.title}}" name="title">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group m-2">
                        <label for="inputPrice" class="col-sm-6 col-form-label">Price</label>
                        {{form.price}}
                        <div class="col-sm-12">
                            <input type="number" class="form-control" id="inputPrice" value="{{flat.price}}" name="price">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                        <div class="form-row m-2">
                            {{form.status}}
                            <div class="form-check m-2">
                                <input class="form-check-input" type="radio" name="status" id="Radios1" value="{{ flat.status }" checked>
                                <label class="form-check-label" for="Radios1">
                                    {{flat.get_status_display}}
                                </label>
                            </div>
                            {% for value,text in form.status.field.choices  %}
                                {% if flat.status not in value %}
                                    <div class="form-check m-2">
                                        <input class="form-check-input" type="radio" name="status" id="value" value="{{ value }">
                                        <label class="form-check-label" for="value">
                                            {{text}}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                </div>
            </div>
            <div class="form-group m-4">
                <label for="textarea">Text</label>
                {{form.text}}
                <textarea class="form-control" id="textarea" rows="8" name="text">{{flat.text}}</textarea>
            </div>
            {% csrf_token %}
            <div class="form-group row m-2">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-success">Update flat</button>
                </div>
            </div>
        </form>
</div>


{% endblock %}