{% extends "base.html" %}

{% block title %}Reset Password Complete{% endblock %}

{% block content %}

{% if messages %}
<div class="p-3 container-fluid ">
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="container-fluid">
    <div class="form-group-row mb-2">
        <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
    </div>
    <div class="form-group-row mb-2">
        <a class="btn btn-primary" href="{% url 'profile' %}">Profile</a>
    </div>
</div>
{% endblock content %}
