{% extends "base.html" %}
{% block title %} Password Reset {% endblock title%}
{% block content %}


<div class="container p-3">
    {% if validlink %}
    <div class="card card-container mx-auto" style="max-width: 25rem;">
        <div class="card body p-3">
            <div class="form-title text-center">
                <h2 class="fw-bold mb-4">Reset Your Password</h2>
                {% if form.errors %}
                <div class="form-group mb-2">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p class="text-muted mb-2">Please enter new password!</p>
                {% endif %}
            </div>
        </div>
        <div class="card body p-3">
            <form class="form-signin" method="post">
                <div class="form-group m-2">
                    <input type="password" class="form-control" id="new_password1" placeholder="New Password" name="new_password1" autocomplete="new-password" required>
                </div>
                <div class="form-group m-2">
                    <input type="password" class="form-control" id="new_password2" placeholder="New Password Confirm" name="new_password2" autocomplete="new-password" required>
                </div>
                <div class="form-group m-2">
                    {% csrf_token %}
                    <div class="col-10 mx-auto">
                        <button class="btn btn-lg btn-info btn-block btn-round" type="submit">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="form-title text-center">
        <div class="form-group mb-2">
            <div class="alert alert-danger" role="alert">
                <strong>The password reset link is invalid, possibly because it has already been used.
                    Please request a new password reset.</strong>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}